<!DOCTYPE html>
<html lang="en">
<head>
    <title>修改文章 我的博客</title>
{{template "header"}}
</head>
<body>
{{template "nav" .}}

<div class="container ">
    <br>
    <h1>修改文章</h1>
    <form action="/topic" method="post">
        <input type="hidden" name="tid" value="{{.Topic.Id}}">
        <div class="form-group">
            <label>文章标题</label>
            <input type="text" class="form-control" name="title" value="{{.Topic.Title}}" required>
        </div>
        <div class="form-group">
            <label>文章分类</label>
            <select name="category" class="form-control">
                <option value="{{.Topic.Category}}" selected>{{.Topic.Category}}</option>
            {{range .Categories}}
                <option value="{{.Title}}">{{.Title}}</option>
            {{end}}
            </select>
        </div>
        <div class="form-group">
            <label>文章内容</label>
            <textarea class="form-control" name="content" rows="10" required>{{.Topic.Content}}</textarea>
        </div>
        <button type="submit" class="btn-primary btn">修改文章</button>
    </form>


</div>

<script src="/static/js/jquery-1.10.2.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>>



